<nav>

    <button>
        <span></span>
        <span></span>
        <span></span>
    </button>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/public/index.html">Contact</a></li>
    </ul>
</nav>