<%- include('partials/head') %>

    <title>Homepage</title>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <h1>Welcome to my App!</h1>
    <p><%= message %></p>
    <a href="/register">Click Here for welcome message</a>
    <br>
    <br>
    <a href="/users">See users here</a>
</body>
</html>


