<%- include('partials/head') %>

    <title>Homepage</title>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <main>
        <section>
            <h1>MusicFind</h1>
            
            <h3>Want to know where and when your favorite artists will be doing a show?</h3>
            <p>Click the button down below to register</p>
            
            <a id="signup" href="./register">Sign up</a>
            
            <a id="login" href="./login">Log in</a>
        </section>
        <script src="/public/js/script.js"></script>
    </main>
</body>
</html>


