<main>
    <section>
        <h1>Mix & Match</h1>
        <a id="register" href="/users/register">Register</a>

        <a id="login" href="/users/login">Log in</a>
    </section>
    <script src="/public/js/script.js"></script>
</main>