<%- include('./partials/head.ejs') %>

<title>Register</title>
</head>

<body>
    <header>
      <%- include('./partials/header.ejs') %>
    </header>
    <main>
      <section>

        <h1>Log in</h1>

        <form action="/login" method="POST">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email"  placeholder="Example@gmail.com" required>
          
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" required>


            <input type="submit" value="Log in">
          </form>
                    
      </section>

      <script src="/public/js/script.js"></script>
    </main>  
  </body>
  </html>

