<%- include('./partials/head.ejs') %>

<title>Register</title>
</head>

<body>
    <header>
      <%- include('./partials/header.ejs') %>
    </header>
    <main>
      <h1><%= welcomemessage %></h1>

      <a href="/">Go Back!</a>
    </main>  
  </body>
  </html>

