<main>
    <section>

      <h1>Log in</h1>

      <form action="/users/login" method="POST">
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email"  placeholder="Example@gmail.com" required>
          
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Password" required>


        <input type="submit" value="Log in">
      </form>

      <p>Already have an account? Click down below</p>
      <a href="/users/register">Register</a>
                    
    </section>

    <script src="/public/js/script.js"></script>
</main>  

