<main>
    <section>
        <h1>Profile</h1>
        
        <form action="/users/logout" method="post">
            <button id="logout" type="submit">Logout</button>
        </form>
        <form action="/users/remove" method="post">
            <button  id="remove" type="submit">Remove account</button></a>
        </form>
        
    </section>
</main>